<p>usuarios-carrito works!</p>

<br>
<div class="container">
<table class="table table-dark table-hover">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Agregar</th>
    </thead>
    <tbody *ngIf="productos.length > 0; else fila">
        <tr *ngFor=" let prod of productos">
            <td><input type="text" name="id" [(ngModel)]="prod.id" class=" form-control" readonly></td>
            <td><input type="text" name="nombre" [(ngModel)]="prod.nombre" class="form-control" autofocus readonly></td>
            <td><input type="number" name="precio" [(ngModel)]="prod.precio" class="form-control" readonly></td>
            <td><input type="number" name="cantidad" [(ngModel)]="prod.cantidad" class="form-control"></td>
            <td><a class="btn btn-info" (click)=agregarCarrito(prod)>Agregar a carrito</a></td>
        </tr>
    </tbody>
    <ng-template #fila>
        <tbody>
            <tr>
                <td colspan="4">No hay mas filas</td>
            </tr>
        </tbody>
    </ng-template>
</table>
</div>
<br>
<div align="left"> <br>
    <h3>Ver carrito:</h3>
    <a class="btn btn-success" routerLink="./verCarrito">Ver Carrito<span class="sr-only">(current)</span></a>
    <h3>Volver:</h3>
    <a class="btn btn-info" routerLink="/usuarios/home">Volver<span class="sr-only">(current)</span></a>
</div>